.achievement{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
  width: 100%;
  gap: 2em;
  overflow: auto;
}

.achievement .wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em;

}


.achievement p{
  text-align: justify;
  line-height: 1.7em;
}

.achievement .award{
  display: flex;
  flex-direction: row;
  margin-top: 0.2em;
  flex-wrap: wrap;
}

.achievement .award .image{
  width: 20%;
  height: 250px;
  background-color: blue;
}

.achievement .award .image img{
  width: 100%;
  height: 100%;
}


.achievement .text{
  width: 80%;
  padding: 1em;
}

p{
  margin-top: 1em;
}

@media screen and (max-width: 700px) {
  .achievement{
    padding: 0.5em;
  }

  .achievement h1{
    text-align: center;
    margin-top: 1em;
  }

  .achievement .wrapper{
    padding: 2em 0;
  }

  .achievement .award{
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  .achievement .award .image{
    min-width: 275px;
  } 
}
