

.app{
  height: 100%;
}

.section{
  height: 100%;
}

.section-bg:nth-child(even){
  background-color: var(--default-background-color);
  color: white;
}

/*custom*/
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-fw{
  font-weight: 500;
  background-color: var(--clr-btn);
  color: black;
  border-radius: 10px;
  border: 2px solid var(--clr-btn);
  min-width: 12ch;
  padding: 0.2em 0.5em;
  text-align: center;
  transition-duration: var(--default-transition-duration);
  cursor: pointer;
}

.btn-fw:hover{
  background-color: var(--bg-color-effect);
  color: white;
}

.btn{
  display: inline;
  font-weight: bold;
  color: var(--clr-btn);
  transition-duration: var(--default-transition-duration);
  cursor: pointer;
}

.btn:hover{
  background-color: var(--bg-color-effect);
  color: white;
}
