footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 1em;
  border-top: 1px solid rgba(211, 211, 211, 0.3);
}

.footer-nav{
  display: flex;
  justify-content: center;
  color: var(--clr-btn);
  padding: 0 0.2em;
  cursor: pointer;
}

.footer-nav-item{
  white-space: nowrap;
  font-size: clamp( 0.7rem, 2.5vw, 1rem );
}

.footer-nav > div:hover{
  opacity: 0.5;
  transition: opacity var(--default-transition-duration);
}

.footer p{
  margin-top: 0;
}

.footer p a{
  color: white;
}